* {
  box-sizing: border-box;
}

.champ2,
.champ3,
.champ4 {
  display: none;
}

body {
  background-color: #a9e0ff;
  transition: filter 0.5s ease;
  /* Smooth transition for the blur effect */
}

body.blurred {
  filter: blur(3px);
  /* Adjust the blur intensity as needed */
}

#cap4 {
  color: rgb(242, 242, 242);
}

.popup {
  position: fixed;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 2px 2px 10px #00000043;
}

#popup1 {
  top: 5vh;
  left: 2vh;
  border: 6px solid #ffa72b;
  width: 60vw;
  max-width: 350px;
}

#popup2 {
  top: 25vh;
  right: 4vh;
  width: 45vw;
  border: 6px solid #ffa600;

  max-width: 260px;
}

#popup3 {
  bottom: 5vh;
  right: 5vh;
  width: 55vw;
  border: 6px solid #ffa600;

  max-width: 320px;
}

#popup4 {
  bottom: 15vh;
  left: 4vh;
  width: 45vw;
  border: 6px solid #ffa600;
  max-width: 320px;
}

#popup5 {
  bottom: 40vh;
  right: 25vh;
  width: 40vw;
  border: 6px solid #ffa600;

  max-width: 230px;
}

h1 {
  font-family: "Kadwa", serif;
  font-weight: 700;
  text-align: center;
  color: #001c2b;
  font-size: 1.7em;
  line-height: 1.8em;
}

@mixin normalText {
  font-size: 1em;
  font-family: "Kadwa", serif;
  font-weight: 400;
}

@mixin unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h2 {
  @include normalText;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0;
}

.titre {
  padding: 0px 10px;
}

label {
  font-family: Kadwa;
  font-weight: 700;
}

.wrapper {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 642px;
}

form {
  box-shadow: 0px 4px 8.4px 2px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 0;
  margin-top: 7%;
}

.textInput {
  width: 100%;
  padding: 10px;
  box-shadow: none;
  border: none;
  margin: 7px 0;
  background-color: #f8f5f5;
  @include normalText;
}

.div {
  background-color: #bfbfbf;
  height: 1px;
  position: relative;
  margin: 20px 0px;
}

.small {
  margin-left: auto;
  margin-right: auto;
}

.full {
  width: 100%;
  margin: 0px;
}

.popup {
  z-index: 999;
}

.capch {
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  padding: 2% 0;
  margin-bottom: 20px;

  @include unselectable;
}

section {
  padding: 15px 5%;
}